/* podPress CSS for the frontend */

.podPress_content .fluid-width-video-wrapper {
	position: static !important;
}
.podpress_mp3player .fluid-width-video-wrapper object {
	height: 24px !important;
}
.podPress_imgicon {	
	border: 0 !important;
	margin: 0 !important;
	padding: 0 !important;
 	vertical-align: middle;
}
.podPress_previewImage table td tr {
	border: 0px;
	margin: 0px;
	padding: 0px;
}
.podPress_previewImage img {
	border: 0px;
	margin: 0px;
	padding: 0px;
	vertical-align: middle;
}
.podPress_content {
	border: 0px;
	margin: 0px;
	padding: 0px;
	text-align: left;
}
.podPress_content img {
	border: 0px !important;
	margin: 0px !important;
	padding: 0px !important;
	display:inline;
}

a.podpress_play_button {
	display:block;
	width:32px;
	height:32px;
	background-repeat: no-repeat;
	background-position: 0px 0px;
}
a.podpress_play_button:hover, a.podpress_play_button:focus, a.podpress_play_button:active { 
	background-repeat: no-repeat;
	background-position: -32px 0px;
}

.podpress_notice, .podpress_error {
	border-style:solid;
	border-width:1px;
	-moz-border-radius:3px;
	padding: 2px 0.6em 2px 0.6em;
	margin: 0.5em 0;
}
.podpress_notice {
	background-color: #FFFFE0;
	border-color:#E6DB55;
}
.podpress_error {
	background-color: #FFEBE8;
	border-color:#CC0000;
}

#podPress_footer {
	text-align:center;
}

/* popup player window styles */
#podpress_popupplayer_container {
	display:block;
	width:100%;
	padding:0;
	margin: 0 auto;
}
#podpress_backtoclose_container {
	width:100%;
	font-family:sans-serif;
	font-size:1em;
	margin-top:6px;
	text-align:center;
}
#podpress_popup_backto, #podpress_popup_close {
	display:block;
	float:left;
}
#podpress_popup_backto {
	width:70%;
}
#podpress_popup_backto span , #podpress_popup_close {
	font-size:0.7em;
}
#podpress_popup_close {
	width:29%;
	padding-top:1.4em;
	margin-left: 1%;
}

/* player container styles */
.podpress_listenwrapper_container {
	width:342px;
	height:40px;
	padding:0px;
	margin: 0.5em 0px 0px 0px;
}
.podpress_listenwrapper_container div {
	margin:0px;
	padding:0px;
}
.podpress_mp3_borderleft {
	width:45px;
	height:40px;
	padding:0px;
	margin:0px;
	display:block;
	float:left;
}
.podpress_1pixelout_container {
	width:290px;
	height:40px;
	line-height:40px;
	padding:0px !important;
	margin:0px !important;
	border:0px !important;
	vertical-align:middle;
	float:left;
}
.podpress_1pixelout_container object, .podpress_1pixelout_container embed {
	margin:8px 0px 0px 0px !important;
	padding:0px !important;
	border:0px !important;
}
.podPress_content object, .podPress_content embed {
	margin: 0px;
	padding:0px;
	border:0px;
}
.podpress_playerspace  {
	padding:0px !important;
	margin: 15px 0px 0em 0px;
	border:0px !important;
}
.podpress_playerspace img {
	text-align:center !important;
}
.podpress_mp3player {
	height:24px;
}
.podpress_mp3player  object, .podpress_mp3player  embed {
	display:block;
}
.podPress_videoplayer_wrapper {
	padding-bottom:1px !important;
}
.podPress_videoplayer_wrapper:hover {
	cursor:pointer;
}
	

/* downloadlink styles (the elements below the player)  */
.podPress_downloadlinks {
	display:block;
	width:100%;
	margin:0.5em 0px 1em 0px;
	padding:1px 0px 0px 0px !important;
	border:0px !important;
	font-size: 0.75em !important;
	line-height:15px !important;
}
.podPress_downloadlinks img {
	padding:0px !important;
	margin:0px !important;
}
.podpress_mediafile_title {
	margin-left:0.4em;
	margin-right:0.4em;
}
.podpress_mediafile_dursize {
	margin-right:0.4em;
}

/* Navi
***********************************************
these CSS are now in podpress_admin_statistics.css
*/

/* Stats
***********************************************
these CSS are now in podpress_admin_statistics.css
*/

/* widget styles */
.podpress_feed_buttons {
	border-style:none;
}
.podpress_feed_icon {
	border-style:none;
	vertical-align:middle;
	background:orange;
	color:white;
	width:14px;
	height:14px;
}

/* if you do not like the bullets in front of buttons list
.podpress_feed_buttons_list li {
	list-style-image:none;
	list-style-type:none;
	text-indent:-1em;
}
*/