/* ######## PODPRESS | CSS for the statistics related elements in the Site Admin ######### */

/* on the dashboard: */
.podpress_statistics_summary_table th, .podpress_statistics_summary_table td {
	text-align:center !important;
}

/* on the statistics pages: */
#podPress_graph {
    background-color: #000;
    margin-top: 2em;
    margin-bottom: 2em;
}

#podPress_graph p {
    padding-top: 0;
    margin-top: 0;
    margin-bottom: 1px;
}

#podPress_graph table {
    margin-bottom: 0;
}

#podPress_graph table th {
    background-color: #222;
    color: #999;
}

#podPress_graph table th, #podPress_graph table td {
    border: 1px solid #5f5f5f;
}

#podPress_graph, #podPress_graph a {
    color: #fff !important;
    text-decoration: none;
}

#podPress_paging {
    float: left;
    width: 100%;
    padding: 0.3em 0;
}

#podPress_pagingLeft {
    float: left;
    padding-left: 1em;
}

#podPress_pagingRight {
    float: right;
    text-align: right;
    padding-right: 1em;
}

.podpress_abbr {
	cursor:help;
	border-bottom-width:1px;
	border-bottom-style:dotted;
}

.the-list-x {
	width:100%;
}

.the-list-x thead {
	text-align: left;
}
#post_with_podpressmedia{
	width:100%;
	height:10em !important;
}
.podpress_stats_nr_head {
	text-align: center !important;
}
.podpress_stats_numbers_abs, .podpress_stats_numbers_percent, .podpress_stats_numbers_total {
	text-align: center;
}
.podpress_stats_numbers_percent {
	color: #888;
}
.podpress_stats_numbers_total {
	font-weight:bold;
}
.podpress_stats_highest {
	color: #fff !important;
	background-color: green;
}
.podpress_is_bot {
	color: #fff;
	background-color: red;
}
.podpress_is_bot td {
	color: #fff;
	background-color: red;
}

.podpress_is_bot a {
	color: #ddf;
	background-color: red;
}
.podpress_is_bot a:hover, .podpress_is_bot a:focus {
	color: #fff;
	background-color: red;
	text-decoration:underline;
}

/* Navi resp. the sub menu of podpress' statistics page
************************************************/

#podPress_navi {
	clear: both;
	background-color: #eee;
	margin-bottom: 1em;
	padding: 0.4em 1em;
}

#podPress_navi li {
	list-style: none;
	display: inline;
	margin-right: 0.8em;
}

#podPress_navi li a {
	text-decoration: none;
}

#podPress_navi li a.current {
	font-weight: bold;
}