
/* blue sidebar titles */

.box .titlewrap{ background: transparent url(../images/options/box-title-left-blue.png) no-repeat top left; }
.box .titlewrap h4{ background: transparent url(../images/options/box-title-bg-blue.png) no-repeat top right; }

.post .post-date span.month{ background: #4086bb; }

a:hover,
h3.post-title a:hover, h2.post-title a:hover{ color: #4ca3db; }

