/*
 * Copyright 2013 Web Experts Nepal Pvt. Ltd
 * 
 * Designed and built with all responsive fluid layout 
 */
/*CSs for Fluid Columns by Web Experts Nepal / Bhuwan Roka*/
.one_half, .one_half_last{ 
	width:48%;
	float: left; 
}
.one_third, .one_third_last{ 
	width:30.66%; 
	float: left;
}
.two_third, .two_third_last{ 
	width:65.33%; 
	float: left;
}
.one_fourth, .one_fourth_last{ 
	width:22%;
	float: left; 
}
.three_fourth, .three_fourth_last{ 
	width:74%;
	float:left;

}
.one_fifth, .one_fifth_last{ 
	width:16.8%;
	float: left; 
}
.two_fifth, .two_fifth_last{ 
	width:37.6%;
	float: left; 
}
.three_fifth, .three_fifth_last{ 
	width:58.4%; 
	float: left;
}
.four_fifth, .four_fifth_last{ 
	width:67.2%; 
	float: left;
}
.one_sixth, .one_sixth_last{ 
	width:13.33%;
	float: left; 
}
.five_sixth, .five_sixth_last{ 
	width:82.67%; 
	float: left;
}
.row-fluid.show-grid{
	margin-bottom: 20px;
}
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth, .one_seventh{ position:relative; margin-right:4%; float:left; margin-bottom: 18px; }
.one_half_last{ margin-right:0 !important; clear:right; }
.clearboth {clear:both;display:block;font-size:0;height:0;line-height:0;width:100%; margin-bottom: 18px;}
.one_half_last, .one_third_last, .one_fourth_last, .one_fifth_last{
	min-height: 70px;
}
.clear{
	clear: both;
}
/* =Fully Responsive Ready Structure by Bhuwan Roka
#Landscape phones and down#  */
@media only screen and (max-width: 500px) {
.one_half,.one_third,.two_third,.three_fourth,.one_fourth,.one_fifth,.two_fifth,.three_fifth,.four_fifth,.one_sixth,.five_sixth, .one_half_last, .one_third_last, .two_third_last, .one_fourth_last, .three_fourth_last, .one_fifth_last, .three_fourth_last, .one_fifth_last, .two_fifth_last, .three_fifth_last, .one_sixth_last, .five_sixth_last{
	width: 100%;
	margin-bottom: 15px;
}
.one_half_last, .one_third_last, .one_fourth_last, .one_fifth_last{
	min-height: 40px;
}
}
