/*  
Theme Name: Ahimsa
Theme URI: http://ahren.org/code/ahimsa
Description: Ahimsa -- customisable collapsible sidebars, skinnable colour schemes, custom CSS and footer, low graphics, minimal distractions, with rounded corners in Firefox, Safari, Chrome (some support in IE). Built-in shortcodes for Fancybox image galleries and simple FAQ posts/pages. New for version 3.2: Internationalisation support, header logo, sidebar tab rotated text, much more. See: <a href='http://ahren.org/code/bit/ahimsa-wp-3dot2'>http://ahren.org/code/bit/ahimsa-wp-3dot2</a>. (If you are upgrading from Ahimsa versions before 3.1 please visit <a href='http://ahren.org/code/bit/ahimsa-wp-3dot1'>http://ahren.org/code/bit/ahimsa-wp-3dot1</a> for details on saving your theme skins and customisations). Always backup any theme files you have changed or added before you upgrade.
Version: 3.2
Author: Ravi Sarma
Author URI: http://ahren.org/code/
Tags: one-column, two-columns, three-columns, flexible-width, left-sidebar, right-sidebar, theme-options, threaded-comments, orange, red, white, yellow, custom-colors, translation-ready

	 Ahimsa 3.2
	 http://ahren.org/code/ahimsa

	Theme built for the Ahren Code site but free for all
    to use. The aim of this theme is to minimise the
    distractions to the reader through the use of clean
    (mostly) primary colours, low graphics, etc. This
    theme uses rounded borders viewable in all browsers
    that support them.

	The CSS, XHTML and design are released under the GNU GPL:
    http://www.gnu.org/licenses/gpl.html

*/

BODY
{
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
    border-style: none;
    background-color: #6f900d;
    font-size: medium;
    font-family: "Lucida Grande", Futura, Helvetica, sans-serif;
}

A
{
    color: #772200;
    text-decoration: none;
}

A:hover
{
    text-decoration: none;
}

IMG
{
    border: none 0px;
}

BLOCKQUOTE
{
    background-image: URL('images/quote.gif');
    background-position: 2px 1px;
    background-repeat: no-repeat;
    background-color: #f0f0aa;
    color: #222222;
    margin: 15px 25px 15px 25px;
    padding: 20px 20px 10px 20px;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
}

/*
 * this should come here towards the beginning since there are some elements
 * that have both class capsule and some other second class, and that second
 * class setting should trump this one.
 *
 */
.capsule
{
    text-align: center;
    padding: 4px 10px;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: small;
    background-color: #cc9900;
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
}

.capsule
{
    color: #ffffff;
}

.actbubble
{
    background-color: #dd6f06;
}

.actbubble a
{
    color: #ffffff;
}

#bgtop
{
    z-index: -1;
    top: 0;
    left: 0;
    position: fixed;
    width: 100%;
    height: 50%;
    margin: 0;
    padding: 0;
    background-color: #333333;
    border-bottom: 6px solid #cccccc;
    /* for IE */
    _position:absolute;
    _top:expression(eval(document.body.scrollTop));
    
}

#container
{
    width: 100%;
    padding: 0px;
    margin: 0px;
    border-style: none;
}

#main
{
    margin: 60px auto 60px auto;
    width: 90%;
    border-radius: 30px; 
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px; 
}

#header
{
    background-color: #b70100;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    text-align: left;
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
    -webkit-border-top-right-radius: 30px;
    -webkit-border-top-left-radius: 30px;
    -moz-border-radius-topleft: 30px; 
    -moz-border-radius-topright: 30px; 
}

#header TABLE
{
    color: #ffffff;
    width: 100%;
}

#header TABLE TD
{
    vertical-align: middle;
}

#title
{
    height: 20px;
    font-size: 24pt;
    padding-right: 15px;
    padding-left: 10px;
    border-right: 2px solid #ffdd00;
}

#logo
{
    margin-right: 10px;
    vertical-align: middle;
}

#description
{
    padding-left: 20px;
    padding-right: 15px;
    width: 100%;
}

#header A
{
    color: #ffffff;
}

#search
{
    text-align: right;
    padding-right: 20px;
}

#searchform INPUT
{
    background-image: URL('images/search.gif');
    background-position: 3% 50%;
    background-repeat: no-repeat;
    border: 0px solid #aaaaaa;
    margin: 0px;
    margin-top: 5px;
    background-color: #000000;
    padding-left: 18px;
    color: #ffffff;
    font-size: 8pt;
    height: 20px;
    border-radius: 11px;
    -moz-border-radius: 11px;
    -webkit-border-radius: 11px;
}

#recent
{
    margin: 0px 0px 30px 0px;
    padding: 10px 5px;
    color: #ffffff;
    background-color: #777777;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#recentheader
{
    padding: 5px 10px;
    font-size: large;
}

#recentmore
{
    float: right;
    font-size: small;
    background-color: #b70100;
    cursor: pointer;
}

#recentclose
{
    background-color: #b70100;
    color: #ffffff;
    float: left;
    clear: left;
    padding: 1px 3px 3px 3px;
    font-family: Verdana;
    font-size: xx-small;
    font-weight: bold;
    /* border: 1px solid #ffffff; */
    margin-right: 8px;
    cursor: pointer;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#recentlist
{
    margin: 10px;
}

#recentlist UL
{
    margin: 0px 0px 0px -20px;
}

#recentlist UL LI
{
    list-style-type: none;
    color: #ffffff;
    border-top: 1px solid #cccccc;
    padding: 2px 5px;
    font-size: small;
}

#recentlist UL LI:last-child
{
    border-bottom: solid 1px #cccccc;
}

#recentlist A,
#recentlist A:hover
{
    text-decoration: none;
    color: #ffffff;
}

.sidebartab
{
    display: none;
    text-align: center;
    padding: 7px 0px;
    background-color: #111111;
    color: #cccccc;
    font-size: 8pt;
    cursor: pointer;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    letter-spacing: 0.2em;

}

.sidebartabnorotate
{
    width: 20px;
    margin-top: 50px;
    margin-bottom: 100px;
}

/* we are adding the rotation right here (rather than to #sidebartableftrotated)
 * since we want to check this property in ahimsa.js to find out if rotation
 * is supported by the current browser. Hacky? You decide!
 */
#sidebartableft
{
    -webkit-transform: rotate(-90deg);
    -webkit-transform-origin: bottom right;
    -moz-transform: rotate(-90deg);
    -moz-transform-origin: bottom right;
    -o-transform: rotate(-90deg);
    -o-transform-origin: bottom right;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}

.sidebartableftrotated
{
    margin-left: -80px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-topright: 8px;
}

.sidebartableftnorotate
{
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -webkit-border-bottom-left-radius: 8px;
    -moz-border-radius-topleft: 8px;
    -moz-border-radius-bottomleft: 8px;
}

/* see comment on #sidebartableft above */
#sidebartabright
{
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin: bottom left;
    -moz-transform: rotate(90deg);
    -moz-transform-origin: bottom left;
    -o-transform: rotate(90deg);
    -o-transform-origin: bottom left;
    filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=1);
}

.sidebartabrightrotated
{
    margin-right: -80px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-top-left-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-topleft: 8px;
}

.sidebartabrightnorotate
{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
}

.tdsidebar,
.sidebar
{
    background-color: #ff9f06;
}

.sidebar
{
    color: #111111;
    padding: 10px;
    padding-top: 15px;
    height: 100%;
}

#tdsidebarleft,
#sidebarleft
{
    border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px; 
}

#tdsidebarright,
#sidebarright
{
    border-bottom-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px; 
}

.sidebarlist
{
    font-size: small;
    border: none;
    padding: 0px;
    margin: 20px 12px 40px 12px;
    padding: 10px 20px 5px 6px;
    background-color: #ffdd99;
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
}

.sidebarlist > LEGEND
{
    font-size: 10pt;
    font-weight: normal;
    color: #ffffff;
    background-color: #846d21;
    padding: 5px 10px;
    margin: 0;
    margin-left: 5px;
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
}

.sidebarlist A
{
    color: #553333;
}

.sidebarlist UL,
#postaction UL
{
    margin: 0px;
    padding: 0px;
}

.sidebarlist LI,
#postaction LI
{
    border: none;
    border-top: 1px solid #ffffff;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0px;
    margin-left: 15px;
    margin-right: 10px;
    list-style-type: none;
}

.sidebarlist LI:first-child,
#postaction LI:first-child
{
    border: none;
}

#calendar_wrap
{
    width: 90%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10px;
}

#wp-calendar
{
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0px;
}

#wp-calendar CAPTION
{
    margin-bottom: 5px;
    letter-spacing: 0.1em;
    color: #222222;
}

#wp-calendar THEAD TH
{
    padding: 3px 5px;
    color: #ffffff;
    background-color: #ff9f06;
}

#wp-calendar TBODY TD
{
    color: #a08050;
    padding: 2px 3px;
    border-width: 0px;
    border-style: none;
}

#wp-calendar TFOOT TD.pad
{
    background-color: #ff9f06;
}

#wp-calendar #next,
#wp-calendar #prev
{
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #dd6f06;
}

#wp-calendar THEAD TH:first-child,
#wp-calendar #prev
{
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    -moz-border-radius-topleft: 5px;
}

#wp-calendar THEAD TH:last-child,
#wp-calendar #next
{
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    -webkit-border-bottom-right-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-bottomright: 5px;
    -moz-border-radius-topright: 5px;
}

#wp-calendar TFOOT A
{
    color: #ffffff;
}

.textwidget
{
    padding: 5px 8px;
    color: #334400;
}

#content
{
    margin: 0px;
    padding: 20px 30px;
    padding-top: 30px;
    width: 100%;
    background-color: #aaaaaa;
}

.contentnoleftsb
{
    border-bottom-left-radius: 30px;
    -webkit-border-bottom-left-radius: 30px;
    -moz-border-radius-bottomleft: 30px;
}

.contentnorightsb
{
    border-bottom-right-radius: 30px;
    -webkit-border-bottom-right-radius: 30px;
    -moz-border-radius-bottomright: 30px;
}

.post
{
    margin-bottom: 50px;
}

.post > FIELDSET
{
    background-color: #ffffff;
    padding: 0px;
    padding-top: 10px;
    /* Firefox uses padding-left to determine Fieldset Legend margin!!! */
    padding-left: 15px;
    border-style: none;
    border-radius: 20px; 
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px; 
}

.post .title,
#comments > LEGEND,
.comment > LEGEND,
#responsebox > LEGEND
{
    background-color: #6f900d;
    border: 0px solid #666666;
    font-size: 12pt;
    padding: 4px 20px;
    margin-left: 15px; /* doesn't work for Firefox -- see comment above in .post fieldset */
    border-radius: 8px; 
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px; 
}

#title,
LEGEND,
LEGEND A,
#recentheader
{
    font-family: "Trebuchet MS", Skia, "Century Gothic", sans-serif;
    color: #ffffff;
}

.dateauthor
{
    float: right;
    margin: 0px 25px;
    font-size: small;
}

.entry
{
    padding: 10px 25px;
    color: #111111;
    line-height: 150%;
}

.entry,
.commenttext
{
    font-size: 9pt;
}

.entry A:hover
{
    text-decoration: none;
    border-bottom: 1px dotted #aaaaaa;
}

#postaction
{
    float: right;
    clear: right;
    padding: 10px 15px 10px 10px;
    margin: 20px;
    font-size: small;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
}

.postmetadata
{
    text-align: left;
    padding: 8px 10px 32px 10px;
    background-color: #eeeeee;
    margin: 0px;
    margin-left: -15px; /* see hack for Firefox in .post fieldset above */
    clear: both;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -webkit-border-bottom-right-radius: 20px;
    -moz-border-radius-bottomleft: 20px;
    -moz-border-radius-bottomright: 20px;
}

.postmetadata .commentlink
{
    float: right;
    padding: 3px 8px;
}

.postmetadata .cattrigger
{
    cursor: pointer;
    float: left;
    padding: 3px 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    -webkit-border-radius: 8px; /* webkit can't render larger radius for smaller height */
    border-width: 0px;
}

.postcattags
{
    padding: 4px 10px 8px 10px;
    margin: 4px 10px 0px 10px;
    background-color: #ffffff;
    color: #442222;
    border-radius: 12px; 
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px; 
    clear: both;
    text-align: left;
}

.postcattags .capsule
{
    font-size: small;
    padding: 1px 4px;
    margin-right: 5px;
    line-height: 20px;
    -webkit-border-radius: 8px; /* see comment above for .cattriger */
}

#single .postmetadata .cattrigger
{
    font-weight: bold;
}

.postcats
{
    background-image: URL('images/cat2.png');
    background-position: 3% 50%;
    padding: 5px 35px 5px 45px;
    background-repeat: no-repeat;
}

.posttags
{
    margin-top: 15px;
    background-image: URL('images/tag2.png');
    background-position: 3% 50%;
    padding: 5px 35px 5px 45px;
    background-repeat: no-repeat;
}

#single .postcattags
{
    border-style: none;
}

#single .postcattags .capsule
{
    background-color: #ffddaa;
    margin-top: 2px;
    margin-bottom: 2px;
    float: left;
}

#single .postcattags .capsule a
{
    color: #772200;
}

#subpagelinks
{
    float: right;
    margin-right: 15px;
    font-size: medium;
}

#subpagelinks A
{
    font-size: small;
}

.nocomments
{
    font-size: large !important;
}

#comments
{
    background-color: #c9ba90;
    padding: 0px;
    padding-left: 15px;
    margin-bottom: 20px;
    border-style: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px; 
}

#comments > UL,
#comments UL.children,
#comments > LI.comment
{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

#comments UL.children
{
    margin-left: 30px;
}

#responsebox
{
    background-color: #ffffff;
	color: #333333;
    margin-top: 50px;
    margin: 30px 30px 0px 30px;
    padding: 10px 30px;
    border-style: none;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px; 
}

FIELDSET.comment
{
    border: none;
    background-color: #ffffff;
    margin: 30px 40px 30px 25px;
    padding: 0px;
    padding-top: 10px;
    padding-left: 15px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px; 
}

FIELDSET.comment > LEGEND
{
    font-size: medium !important;
}

FIELDSET.comment IMG.avatar,
FIELDSET.comment .commenttext
{
    padding-top: 5px;
}

FIELDSET.comment .commenttext
{
    padding-right: 30px;
    padding-left: 30px;
	color: #333333;
}

.entry UL,
.entry OL
{
	margin-left: 0px;
	padding: 15px;
	padding-left: 30px;
	background-color: #d0f0ff;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px; 
}

BLOCKQUOTE UL,
BLOCKQUOTE OL
{
    background-color: inherit !important;
    border-style: none !important;
}

.post LI
{
    padding: 4px 0px;
	margin-left: 0px;
    /*border-bottom: 1px dotted #aaaaaa;*/
}

.post LI:first-child
{
    /*border-top: 1px dotted #aaaaaa;*/
}

.entry > P:first-child:first-letter
{
    color: #662222;
    font-size: larger;
}

.navigation .capsule
{
    font-size: large;
}

#rsslinks
{
    position: fixed;
    z-index: 15;
    top: 0;
    right: 0;
    left: 0;
    padding: 4px 10px;
    margin: 0px;
    font-size: 8pt;
    background-color: #333333;
    color: #ffffff;
    font-size: 9pt;
    font-weight: bold;
    text-align: right;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    border-style: none;
}

#rsslinks .capsule
{
    /* firefox likes padding here */
    float: right;
    margin-right: 5px;
    padding: 2px 10px !important;
    background-color: #000000;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

#rsslinks A
{
    color: #ffffff;
}

#credits
{
    margin: 0px;
    padding: 5px;
    padding-right: 10px;
    background-color: #333333;
    color: #ddcc33;
    opacity: 0.8;
    filter: alpha(opacity = 80);
}

#credits A
{
    color: #ffffff;
}

#respond INPUT#submit
{
	font-weight: bold;
    font-size: medium;
    cursor: pointer;
	border: none;
	padding: 3px 10px;
}

#respond TEXTAREA
{
    width: 80% !important;
}

#respond INPUT.inptext
{
    border: 1px solid #999999;
    background-color: #eeeeee;
}

#comments .postmetadata,
.replybuttonbox
{
    padding: 10px 25px;
    text-align: right;
}

#cancel-comment-reply
{
    display: inline;
    padding-left: 15px;
}

#commenthint
{
    display: none;
    margin-bottom: 10px;
}

img.avatar
{
    float: left;
    margin: 5px 20px 20px 15px;
    border-radius: 10px; 
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px; 
}

/* required as per wordpress.org */

.aligncenter, div.aligncenter
{
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.alignleft
{
   float: left;
}

.alignright
{
   float: right;
}

.wp-caption
{
   border: 1px solid #ddd;
   text-align: center;
   background-color: #f3f3f3;
   padding-top: 4px;
   margin: 10px;
   /* optional rounded corners for browsers that support it */
   border-radius: 3px;
   -moz-border-radius: 3px;
   -webkit-border-radius: 3px;
}

.wp-caption img
{
   margin: 0;
   padding: 0;
   border: 0 none;
}

.wp-caption p.wp-caption-text
{
   font-size: 11px;
   line-height: 17px;
   padding: 0 4px 5px;
   margin: 0;
}

