.monochrome_box { border:1px solid #ccc; padding:15px; margin:0 0 30px 0; 
               -moz-border-radius:5px;
               -khtml-border-radius:5px;
               -webkit-border-radius:5px;
               border-radius:5px; }