

/*

  Internet Explorer 5.5 and 6.0 bug-fixes

*/

body{ text-align: center; }  /* center main div in IE 5.5 */
#page{ text-align: left; }

.comment-mask{
  background: none;
}

.box{
  background: none;
  position: relative;
}

.post p.post-author{
  background: #e0d9c4;
}

ul#nav .fadeThis span.hover { background: #5798c2; }
#nav-wrap1{ background: transparent url(images/nav-left-ie6.png) no-repeat left top; }
#nav-wrap2{ background: transparent url(images/nav-bg-ie6.png) no-repeat right top; }
ul#nav{ float:left; }

ul#nav li a{
  height: 35px;
  margin-top: 1px;
}

ul#nav li ul li a:hover{
  background-color: #999;
}

ul#nav .fadeThis span.hover {
  height: 35px;
}

ul#nav ul {
  top: 35px;
}

/* search */
.search-block{ background: transparent url(images/search-bg-ie6.png) no-repeat left top; }

.search-block .searchform-wrap{
  background: transparent url(images/search-go-ie6.png) no-repeat right top; }

ul.menu .fadeThis {
  position: static;
}

ul.menu .fadeThis span.hover {
  display: none;
}

ul.menu li a:hover{
  background: #f7f5ef url(images/side-menu-active.png) repeat-x left bottom;
}

.comment-wrap2{
  position: relative;
  height: 100%;
}

#main-wrap1{
  position: relative;
}


span.hover, ul.menu li.cat-item a.rss{
  display: none;
  visibility: hidden;
}


a#fancyleft,a#fancyright{background-image:url(data:image/gif;base64,AAAA);}
div#fancyoverlay{position:absolute;height:expression(document.body.scrollHeight>document.body.offsetHeight?document.body.scrollHeight:document.body.offsetHeight+'px');}