#bgtop
{
background-color: #333333;
border-bottom-color: #ffffff;
}
BODY
{
background-color: #1240ab;
}
A
{
color: #002266;
}
.capsule
{
background-color: #3050a0;
color: #ffffff;
}
#header
{
background-color: #dd8800;
}
#header, #header table, #header a
{
color: #ffffff;
}
#title
{
border-right-color: #ffeeaa;
}
.sidebar, .tdsidebar
{
background-color: #70a0ff;
}
.sidebarlist
{
background-color: #ddeeff;
color: #000000;
}
.sidebarlist > legend
{
background-color: #dd8800;
color: #ffffff;
}
.sidebarlist li, #postaction li
{
border-top-color: #a0c0ff;
}
.sidebarlist a
{
color: #002266;
}
#wp-calendar caption
{
color: #000000;
}
#wp-calendar thead th, #wp-calendar tfoot td.pad
{
background-color: #bbccee;
}
#wp-calendar thead th
{
color: #000000;
}
#wp-calendar tbody td
{
color: #333333;
}
#wp-calendar #next, #wp-calendar #prev
{
background-color: #bbccee;
}
#wp-calendar #next, #wp-calendar #prev, #wp-calendar tfoot a
{
color: #002266;
}
.textwidget
{
color: #000000;
}
#content
{
background-color: #aaaaaa;
}
.post > fieldset
{
background-color: #ddeeff;
}
.entry
{
color: #000000;
}
.post .title, #comments > legend, .comment > legend, #responsebox > legend
{
background-color: #dd9900;
}
.post .title, .post .title a, #comments > legend, .comment > legend, #responsebox > legend
{
color: #ffffff;
}
.postmetadata
{
background-color: #ccddff;
}
.postcattags
{
background-color: #1240ab;
}
.postcattags, .postcattags a
{
color: #ffffff;
}
#single .postcattags .capsule
{
background-color: #aabbee;
}
#single .postcattags .capsule, #single .postcattags .capsule a
{
color: #002266;
}
blockquote
{
background-color: #ffffff;
color: #222222;
}
.entry UL, .entry OL
{
background-color: #ffffff;
color: #222222;
}
.entry > P:first-child:first-letter
{
color: #000000;
}
.actbubble
{
background-color: #99aadd;
}
.actbubble, .actbubble a
{
color: #002266;
}
#comments
{
background-color: #7799bb;
}
fieldset.comment, fieldset.comment .commenttext
{
background-color: #ddeeff;
}
fieldset.comment .commenttext
{
color: #111111;
}
#responsebox
{
background-color: #99aadd;
}
