
            #bgtop
            {
                background-color: #000000;
            }
        
            #bgtop
            {
                border-bottom-color: #ffffff;
            }
        
            BODY
            {
                background-color: #dd4422;
            }
        
            A
            {
                color: #664422;
            }
        
            .capsule
            {
                background-color: #999999;
            }
        
            .capsule
            {
                color: #664422;
            }
        
            #header
            {
                background-color: #dd4422;
            }
        
            #header, #header table, #header a
            {
                color: #ffffff;
            }
        
            #title
            {
                border-right-color: #333333;
            }
        
            .sidebar, .tdsidebar
            {
                background-color: #555555;
            }
        
            .sidebarlist
            {
                background-color: #cccccc;
            }
        
            .sidebarlist
            {
                color: #000000;
            }
        
            .sidebarlist > legend
            {
                background-color: #333333;
            }
        
            .sidebarlist > legend
            {
                color: #dd4422;
            }
        
            .sidebarlist li, #postaction li
            {
                border-top-color: #aaaaaa;
            }
        
            .sidebarlist a
            {
                color: #664422;
            }
        
            #wp-calendar caption
            {
                color: #000000;
            }
        
            #wp-calendar thead th, #wp-calendar tfoot td.pad
            {
                background-color: #aaaaaa;
            }
        
            #wp-calendar thead th
            {
                color: #000000;
            }
        
            #wp-calendar tbody td
            {
                color: #333333;
            }
        
            #wp-calendar #next, #wp-calendar #prev
            {
                background-color: #aaaaaa;
            }
        
            #wp-calendar #next, #wp-calendar #prev, #wp-calendar tfoot a
            {
                color: #664422;
            }
        
            .textwidget
            {
                color: #000000;
            }
        
            #content
            {
                background-color: #777777;
            }
        
            .post > fieldset
            {
                background-color: #cccccc;
            }
        
            .entry
            {
                color: #000000;
            }
        
            .post .title, #comments > legend, .comment > legend, #responsebox > legend
            {
                background-color: #333333;
            }
        
            .post .title, .post .title a, #comments > legend, .comment > legend, #responsebox > legend
            {
                color: #dd4422;
            }
        
            .postmetadata
            {
                border-top: 1px solid #aaaaaa;
            }
        
            .postcattags
            {
                background-color: #aaaaaa;
            }
        
            .postcattags, .postcattags a
            {
                color: #664422;
            }
        
            #single .postcattags .capsule
            {
                background-color: #eeeeee;
            }
        
            #single .postcattags .capsule, #single .postcattags .capsule a
            {
                color: #000000;
            }
        
            blockquote
            {
                background-color: #ffffff;
            }
        
            blockquote
            {
                color: #333333;
            }
        
            .entry UL, .entry OL
            {
                background-color: #ffffff;
            }
        
            .entry UL, .entry OL
            {
                color: #333333;
            }
        
            .entry > P:first-child:first-letter
            {
                color: #000000;
            }
        
            .actbubble
            {
                background-color: #999999;
            }
        
            .actbubble, .actbubble a
            {
                color: #000000;
            }
        
            #comments
            {
                background-color: #999999;
            }
        
            fieldset.comment, fieldset.comment .commenttext
            {
                background-color: #cccccc;
            }
        
            fieldset.comment .commenttext
            {
                color: #333333;
            }
        
            #responsebox
            {
                background-color: #aaaaaa;
            }
        
            .sidebartab
            {
                background-color: #dd4422;
                color: #ffffff;
            }
