#comments_wrapper { float:right; width:610px; padding:0 0 15px 0; }

#comment_area, #trackback_area { margin:15px 0 20px 0; padding:0 0 5px 0; border-bottom:1px solid #ccc; }
#trackback_area { display:none; }


/*  ------ comment_header ----------------------------------------------------------------------------------------------------------------------- */
#comment_header { border-bottom:1px solid #ccc; font-size:11px; position:relative; }
#comment_header li { display:inline; float:left; padding:5px 10px; }

#comment_header_left { float:left; display:inline; margin:0 0 0 5px; }
#add_comment a { background:url(img/write_comment.gif) no-repeat left center; padding:0 0 0 20px; }
#comment_feed a { background:url(img/comment_rss.gif) no-repeat left center; padding:0 0 0 20px; }

#comment_header_right { clear:left; position:absolute; top:-1px; right:15px;  background:#fff; }
#comment_header_right li, #comment_header_right #trackback_closed { border-top:1px solid #fff; border-bottom:1px solid #ccc;  }
#comment_header_right li.comment_switch_active,#comment_header_right #comment_closed { border:1px solid #ccc; border-bottom:1px solid #fff; }
.comment_switch_active a { color:#33a8e5; }


/*  ------ comment ------------------------------------------------------------------------------------------------------------------------------ */
.commentlist { list-style-type:none; margin:0; padding:0; }
.comment { border:1px solid #ccc; color:#777; margin:0 15px 15px; padding:15px 0 3px; background:#eee; }
.even_comment, .odd_comment_children { background:#eee; }
.odd_comment, .even_comment_children { background:#fdfdfd; }
.admin-comment { }

/* ----- comment-meta ----- */
.comment-meta { height:56px; position:relative; }

.comment-meta-left { position:absolute; left:15px; top:0; }
.avatar { border:1px solid #ccc; background:#fff; width:37px; height:37px; padding:2px; display:inline; float:left; margin:0 15px 0 0; }
.comment-name-date { padding:6px 0 0 0; float:left; }

.commentlist a, .commentlist a:visited, .comment-name { color:#2d96bd; }
.commentlist a:hover { color:#ef3982; }
a.admin-url { text-decoration:underline; }
a.guest-url { text-decoration:underline; }

.comment-date { font-size:11px; color:#757676; margin:0 0 0 0; }

.comment-act { background:url(img/arrow2.gif) no-repeat left 5px; font-size:11px; position:absolute; right:12px; top:5px; padding:0 0 0 13px; }
.comment-act li { display:inline; }
.comment-reply a, .comment-reply a:visited { border-right:1px solid #aaa; padding:0 10px 0 0; margin:0 6px 0 0; }
.comment-edit a, .comment-edit a:visited { border-left:1px solid #aaa; padding:0 0 0 10px; margin:0 0 0 6px; }

/* ----- comment-contents ----- */
.comment-content { padding:0; clear:both; margin:0 15px; }
* html .comment-content { padding:5px 0 0 0; }
.comment-content a, .comment-content a:visited { text-decoration:underline; }
.comment-content a:hover { }
.comment blockquote span { margin:0 0 -1em 0; display:block; }

.comment-note { display:block; font-size:11px; margin:0 0 1em 0; color:#33a8e5; border:1px solid #94ddd4; padding:10px 15px; background:#d6f4f0; }

.comment_closed { border:1px solid #ccc; text-align:center; margin:0 15px 15px 15px; padding:15px; background:#fff url(img/stripe3.gif) left top; }
#trackback_closed { background:url(img/arrow1.gif) no-repeat left center; padding:0 0 0 12px; }

/* ----- trackback-contens ----- */
.trackback_time { font-size:11px; color:#757676; margin:0 0 7px 15px; }
.trackback_title { margin:2px 0 8px 0; margin:0 0 10px 15px; }

#trackback_url_wrapper { margin:0 15px 20px; font-size:11px; }
#trackback_url_wrapper label { margin:0 0 2px 5px; display:block; }
#trackback_url_wrapper input { background:#fff url(img/arrow1.gif) no-repeat 10px center; border:1px solid #ccc; color:#777; padding:5px 20px; width:468px; }

/* ----- comment-pager ----- */
#comment_pager { margin:0 15px 10px 15px; height:24px; }
#comment_pager a, #comment_pager span { display:inline; float:left; margin:0 10px 0 0; }
#comment_pager .current { text-decoration:underline; }



/* ---------- form area ------------------------------------------------------------------------------------------------------------------------- */
.comment_form_wrapper { border:1px solid #ccc; margin:0 15px 15px; padding:15px; background:#fff url(img/stripe3.gif) left top; }

#cancel_comment_reply  { background:url(img/arrow2.gif) no-repeat left center; margin:0 0 1em 0; padding:0 0 0 11px; }

#comment_user_login p { padding:0 0 0 1px; margin:0; line-height:100%; }
#comment_user_login span { margin:0 0 0 40px; }

#comment_login { margin:0; padding:3px 30px 10px 30px; }
#comment_login p { margin:0; padding:12px 0 11px 36px; line-height:100%; }
#comment_login a { margin:0 0 0 20px; padding:0 0 0 20px; background:url(img/arrow1.gif) no-repeat 10px 3px; }

#guest_info { padding:0; width:98%; }
#guest_info div { margin:0 0 12px 0; text-align:left; }
#guest_info input { margin:0; border:1px solid #ccc;  padding: 3px 5px; width:70%; background:#fff; color:#777; }
#guest_info label { display:block; margin:0 0 5px 0; padding:0 0 0 0; font-size:11px; color:#888;}
#guest_info span { color:#666; margin:0 10px 0 0; }

#comment_textarea textarea { width:90%; margin:15px 0 0 0; padding:15px; height:150px; border:1px solid #ccc;
                             background:#fff; color:#777; font-size:11px; overflow:auto; }

#submit_comment { margin:30px auto 0 auto; width:200px; display:block; background:#fff; color:#666; border:1px solid #ccc; padding:4px 0; cursor:pointer; }
#submit_comment:hover { border:1px solid #33a8e5; color:#33a8e5; }

#back_top_comment { float:right; background:url(img/arrow3.gif) no-repeat left center; padding:0 0 0 16px; display:inline; margin:0 15px 10px 0; font-size:11px; }

#input_hidden_field { display:none; }

/* ----- password protected ----- */
.nocomments { text-align:center; margin:0 15px; color:#33a8e5; border:1px solid #ccc; background:#fff url(img/stripe3.gif) left top; }
.nocomments p { margin:15px 20px; font-size:12px; }

/* ----- plugin ----- */
#guest_info div#custom_smilies { margin:0; padding:10px 0 0 0; }
p.subscribe-to-comments { margin:15px 0 -15px 0; }