body .li_world { font-family: 'calibri'; }
body.page-template-shortcodes-php #content {
	max-width: inherit;
}
.row-fluid > br{
	display: none!important;
}
.page-header {
	border-bottom: 1px solid #eee;
	margin: 20px 0 30px;
	padding-bottom: 9px;
}

.show-grid {
	margin-bottom: 20px;
	margin-top: 10px;
}

.show-grid [class*="span"] {
	background-color: #eee;
	border-radius: 3px;

	text-align: center;
}

span.offset { }

.alert .close {
	box-shadow: none;
	background:none;
}

.alert i { width: 18px; line-height: 16px; font-size: 16px; margin-top: -1px }

.nav-tabs > li {
	margin: 0 0 -1px !important;
	list-style: none;
}

.nav-tabs > li li {
	margin: 0 !important;
	list-style: none !important;
}


/* price tables */
.price-boxes { width: 100%; clear:both; position: relative; }
.price-boxes:after {
  clear: both;
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
}
.price-column { 
  text-align:center;
  display:block;
  vertical-align: top;
  float: left;
  position: relative;
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; 
  border:1px solid #eee;
  transition: width 1s;
  -moz-transition: width 1s; /* Firefox 4 */
  -webkit-transition: width 1s; /* Safari and Chrome */
  -o-transition: width 1s; /* Opera */
 }
 .price-column:hover{
  border: 1px dotted #ddd;
 }

 .price-column.featured i.icon-star{
   color: #ffff66;
   text-shadow:1px 1px #000;
 }
 .price-boxes .price-column:last-child .dropdown-menu{
    margin-left: -108px;
 }
.price-column > div{ background: #eee }

.price-column.features { background: none; text-align:left }
.price-column * { vertical-align: middle }
.cols1 .price-column.features { width: 16% }
.cols2 .price-column.features { width: 16% }
.cols3 .price-column.features { width: 19% }
.cols4 .price-column.features { width: 16% }

.cols1 .price-column { width: 84% }
.cols2 .price-column { width: 42% }
.cols3 .price-column { width: 27% }
.cols4 .price-column { width: 21% }

.cols2 .col1 .header,
.cols3 .col1 .header,
.cols4 .col1 .header {border-radius: 4px 0 0 0; -webkit-border-radius: 4px 0 0 0}

.cols2 .col2 .header,
.cols3 .col3 .header,
.cols4 .col4 .header {border-radius: 0 4px 0 0; -webkit-border-radius: 0 4px 0 0}

.cols2 .col1 .footer,
.cols3 .col1 .footer,
.cols4 .col1 .footer { border-radius: 0 0 0 4px; -webkit-border-radius: 0 0 0 4px }

.cols2 .col2 .footer,
.cols3 .col3 .footer,
.cols4 .col4 .footer { border-radius: 0 0 4px 0; -webkit-border-radius: 0 0 4px 0 }

.price-column ul {margin: 0; clear:both}
.price-column ul li {margin: 0; padding:0; list-style:none}

.header { border-bottom: 1px solid #ddd; background: #f6f6f6; float:left; width: 100%; min-height:70px }

.price-column.featured > div {background: #e6e6e6}
.featured .header { background: #eee }

.features .header { background: none }
.width0{
  display: none;
}
.p-buider{
  padding:10px;
}

.p-buider .price-boxes{
  padding:40px 0 0;
}

.btn_flat .btn {
  background: none;
  border: none;
  padding: 0;
}
.btn_flat.open .btn.dropdown-toggle{
  background: none;
}

.price-column .btn_flat{
  position: absolute;
  display: none;
  right:0;
  text-align: left;
}
.price-column:hover .btn_flat{
  display: block;
}

.header h3, .header h4 {margin:0}
.header h3 {font-size: 16px}
.header h4 {font-size: 14px}

#btn_mainsettings{
  position: absolute;
  right:40px;
  top:10px;
}

.price-column li {border-bottom: 1px solid #eee}
.featured .header, .featured li { }
.features .header, .features li { border-bottom: 1px solid #f6f6f6; }
[data-editable]{
  border:1px dotted #eee;
}
[data-editable]:hover{
  border: 1px dotted #ddd;
  /*-moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; box-sizing: border-box; */
  cursor: text;
}

.btn_add_more{
  cursor: pointer;
  font-size: 12px;
}

.btn_add_more i {font-size: 14px;}
.price-column li:hover{ background: #fff }
.price-column .btn_add_more:hover{ background: #f9f9f9 }
.p-buider input[type="text"]{
  width:80%;
}

.footer .btn {margin: 15px 0}

/* collapses */
#demo_grid .accordion-heading {position:relative; padding: 6px}
#demo_grid .accordion-toggle {float:right }
#demo_grid .accordion-heading input { }


@font-face {
  font-family: 'FontAwesome';
  src: url('../font/fontawesome-webfont.eot');
  src: url('../font/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
    url('../font/fontawesome-webfont.woff') format('woff'),
    url('../font/fontawesome-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/*  Font Awesome styles
    ------------------------------------------------------- */
[class^="icon-"], [class*=" icon-"] { background: none !important }	
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  display: inline-block;
  text-decoration: inherit;
}
/* more sprites.less reset */
.icon-white,
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"],
.dropdown-submenu:hover > a > [class^="icon-"],
.dropdown-submenu:hover > a > [class*=" icon-"] {
  background-image: none;
}
a [class^="icon-"], a [class*=" icon-"] {
  display: inline-block;
  text-decoration: inherit;
}
/* makes the font 33% larger relative to the icon container */
.icon-large:before {
  vertical-align: top;
  font-size: 1.3333333333333333em;
}
.btn [class^="icon-"], .btn [class*=" icon-"] {
  /* keeps button heights with and without icons the same */
  line-height: .9em;
  background: none; /*width: 1.2em;*/ text-align:left;
}
.btn-large [class^="icon-"], .btn-large [class*=" icon-"] {
    width: 1.2em;
}
.btn-small [class^="icon-"], .btn-small [class*=" icon-"] {
    line-height: 1.2em !important; height: 1.2em 
}
li [class^="icon-"], li [class*=" icon-"] {
  display: inline-block;
  text-align: center;
  /*width: 1.4em; vertical-align:middle;*/
  font-size: 16px; 
}
ul.the-icons li [class^="icon-"], ul.the-icons li [class*=" icon-"] {
  vertical-align:middle; width: 1.5em; height: 1.5em; line-height: 1.35em
}
li .btn [class^="icon-"], li  .btn[class*=" icon-"] {}
li .icon-large[class^="icon-"], li .icon-large[class*=" icon-"] {
  /* 1.5 increased font size for icon-large * 1.25 width */

  width: 1.875em;
}
li[class^="icon-"], li[class*=" icon-"] {
  margin-left: 0;
  list-style-type: none;
}
li[class^="icon-"]:before, li[class*=" icon-"]:before {
  text-indent: -2em;
  text-align: center;
}
li[class^="icon-"].icon-large:before, li[class*=" icon-"].icon-large:before {
  text-indent: -1.3333333333333333em;
}

.btn small,
.btn .small {display:block; clear:both}

.modal-header h3 {clear:none}
.modal-body p,
.modal-body ul,
.modal-body ol,
.modal-body blockquote {}

.modal-body { padding: 0 15px; min-height: 300px }
.modal-body iframe { min-height: 270px }
.modal-backdrop { }

.icon-spin {
  display: inline-block;
  -moz-animation: spin 2s infinite linear;
  -o-animation: spin 2s infinite linear;
  -webkit-animation: spin 2s infinite linear;
  animation: spin 2s infinite linear;
}
@-moz-keyframes spin {
  0% { -moz-transform: rotate(0deg); }
  100% { -moz-transform: rotate(359deg); }
}
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(359deg); }
}
@-o-keyframes spin {
  0% { -o-transform: rotate(0deg); }
  100% { -o-transform: rotate(359deg); }
}
@-ms-keyframes spin {
  0% { -ms-transform: rotate(0deg); }
  100% { -ms-transform: rotate(359deg); }
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(359deg); }
}
@-moz-document url-prefix() {
  .icon-spin {
   
  }
  .btn .icon-spin {
    height: 1em;
    line-height: 1em !important;
    width: 0.88em;
  }
  .icon-spin.icon-large {
    height: 1.25em;
  }
  .btn .icon-spin.icon-large {
    height: .75em;
  }
}
@font-face {
  font-family: 'linecons';
  src: url('../font/linecons.eot');
    src: url('../font/linecons.eot?#iefix') format('embedded-opentype'),
         url('../font/linecons.woff') format('woff'),
         url('../font/linecons.ttf') format('truetype'),
         url('../font/linecons.svg#BebasNeueRegular') format('svg');
   font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'linecons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="li_"]:before, [class*=" li_"]:before {
  font-family: 'linecons';
  font-style: normal;
  speak: none;
  font-weight: normal;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.li_chart:before {
  content: "\e000";
}
.li_heart:before {
  content: "\e000";
}
.li_cloud:before {
  content: "\e001";
}
.li_star:before {
  content: "\e002";
}
.li_tv:before {
  content: "\e003";
}
.li_sound:before {
  content: "\e004";
}
.li_video:before {
  content: "\e005";
}
.li_trash:before {
  content: "\e006";
}
.li_user:before {
  content: "\e007";
}
.li_key:before {
  content: "\e008";
}
.li_search:before {
  content: "\e009";
}
.li_settings:before {
  content: "\e00a";
}
.li_camera:before {
  content: "\e00b";
}
.li_tag:before {
  content: "\e00c";
}
.li_lock:before {
  content: "\e00d";
}
.li_bulb:before {
  content: "\e00e";
}
.li_pen:before {
  content: "\e00f";
}
.li_diamond:before {
  content: "\e010";
}
.li_display:before {
  content: "\e011";
}
.li_location:before {
  content: "\e012";
}
.li_eye:before {
  content: "\e013";
}
.li_bubble:before {
  content: "\e014";
}
.li_stack:before {
  content: "\e015";
}
.li_cup:before {
  content: "\e016";
}
.li_phone:before {
  content: "\e017";
}
.li_news:before {
  content: "\e018";
}
.li_mail:before {
  content: "\e019";
}
.li_like:before {
  content: "\e01a";
}
.li_photo:before {
  content: "\e01b";
}
.li_note:before {
  content: "\e01c";
}
.li_clock:before {
  content: "\e01d";
}
.li_paperplane:before {
  content: "\e01e";
}
.li_params:before {
  content: "\e01f";
}
.li_banknote:before {
  content: "\e020";
}
.li_data:before {
  content: "\e021";
}
.li_music:before {
  content: "\e022";
}
.li_megaphone:before {
  content: "\e023";
}
.li_study:before {
  content: "\e024";
}
.li_lab:before {
  content: "\e025";
}
.li_food:before {
  content: "\e026";
}
.li_t-shirt:before {
  content: "\e027";
}
.li_fire:before {
  content: "\e028";
}
.li_clip:before {
  content: "\e029";
}
.li_shop:before {
  content: "\e02a";
}
.li_calendar:before {
  content: "\e02b";
}
.li_vallet:before {
  content: "\e02c";
}
.li_vynil:before {
  content: "\e02d";
}
.li_truck:before {
  content: "\e02e";
}
.li_world:before {
  content: "\e02f";
}

/*  Font Awesome uses the Unicode Private Use Area (PUA) to ensure screen
    readers do not read off random characters that represent icons */
.icon-glass:before                { content: "\f000"; }
.icon-music:before                { content: "\f001"; }
.icon-search:before               { content: "\f002"; }
.icon-envelope:before             { content: "\f003"; }
.icon-heart:before                { content: "\f004"; }
.icon-star:before                 { content: "\f005"; }
.icon-star-empty:before           { content: "\f006"; }
.icon-user:before                 { content: "\f007"; }
.icon-film:before                 { content: "\f008"; }
.icon-th-large:before             { content: "\f009"; }
.icon-th:before                   { content: "\f00a"; }
.icon-th-list:before              { content: "\f00b"; }
.icon-ok:before                   { content: "\f00c"; }
.icon-remove:before               { content: "\f00d"; }
.icon-zoom-in:before              { content: "\f00e"; }

.icon-zoom-out:before             { content: "\f010"; }
.icon-off:before                  { content: "\f011"; }
.icon-signal:before               { content: "\f012"; }
.icon-cog:before                  { content: "\f013"; }
.icon-trash:before                { content: "\f014"; }
.icon-home:before                 { content: "\f015"; }
.icon-file:before                 { content: "\f016"; }
.icon-time:before                 { content: "\f017"; }
.icon-road:before                 { content: "\f018"; }
.icon-download-alt:before         { content: "\f019"; }
.icon-download:before             { content: "\f01a"; }
.icon-upload:before               { content: "\f01b"; }
.icon-inbox:before                { content: "\f01c"; }
.icon-play-circle:before          { content: "\f01d"; }
.icon-repeat:before               { content: "\f01e"; }

/* \f020 doesn't work in Safari. all shifted one down */
.icon-refresh:before              { content: "\f021"; }
.icon-list-alt:before             { content: "\f022"; }
.icon-lock:before                 { content: "\f023"; }
.icon-flag:before                 { content: "\f024"; }
.icon-headphones:before           { content: "\f025"; }
.icon-volume-off:before           { content: "\f026"; }
.icon-volume-down:before          { content: "\f027"; }
.icon-volume-up:before            { content: "\f028"; }
.icon-qrcode:before               { content: "\f029"; }
.icon-barcode:before              { content: "\f02a"; }
.icon-tag:before                  { content: "\f02b"; }
.icon-tags:before                 { content: "\f02c"; }
.icon-book:before                 { content: "\f02d"; }
.icon-bookmark:before             { content: "\f02e"; }
.icon-print:before                { content: "\f02f"; }

.icon-camera:before               { content: "\f030"; }
.icon-font:before                 { content: "\f031"; }
.icon-bold:before                 { content: "\f032"; }
.icon-italic:before               { content: "\f033"; }
.icon-text-height:before          { content: "\f034"; }
.icon-text-width:before           { content: "\f035"; }
.icon-align-left:before           { content: "\f036"; }
.icon-align-center:before         { content: "\f037"; }
.icon-align-right:before          { content: "\f038"; }
.icon-align-justify:before        { content: "\f039"; }
.icon-list:before                 { content: "\f03a"; }
.icon-indent-left:before          { content: "\f03b"; }
.icon-indent-right:before         { content: "\f03c"; }
.icon-facetime-video:before       { content: "\f03d"; }
.icon-picture:before              { content: "\f03e"; }

.icon-pencil:before               { content: "\f040"; }
.icon-map-marker:before           { content: "\f041"; }
.icon-adjust:before               { content: "\f042"; }
.icon-tint:before                 { content: "\f043"; }
.icon-edit:before                 { content: "\f044"; }
.icon-share:before                { content: "\f045"; }
.icon-check:before                { content: "\f046"; }
.icon-move:before                 { content: "\f047"; }
.icon-step-backward:before        { content: "\f048"; }
.icon-fast-backward:before        { content: "\f049"; }
.icon-backward:before             { content: "\f04a"; }
.icon-play:before                 { content: "\f04b"; }
.icon-pause:before                { content: "\f04c"; }
.icon-stop:before                 { content: "\f04d"; }
.icon-forward:before              { content: "\f04e"; }

.icon-fast-forward:before         { content: "\f050"; }
.icon-step-forward:before         { content: "\f051"; }
.icon-eject:before                { content: "\f052"; }
.icon-chevron-left:before         { content: "\f053"; }
.icon-chevron-right:before        { content: "\f054"; }
.icon-plus-sign:before            { content: "\f055"; }
.icon-minus-sign:before           { content: "\f056"; }
.icon-remove-sign:before          { content: "\f057"; }
.icon-ok-sign:before              { content: "\f058"; }
.icon-question-sign:before        { content: "\f059"; }
.icon-info-sign:before            { content: "\f05a"; }
.icon-screenshot:before           { content: "\f05b"; }
.icon-remove-circle:before        { content: "\f05c"; }
.icon-ok-circle:before            { content: "\f05d"; }
.icon-ban-circle:before           { content: "\f05e"; }

.icon-arrow-left:before           { content: "\f060"; }
.icon-arrow-right:before          { content: "\f061"; }
.icon-arrow-up:before             { content: "\f062"; }
.icon-arrow-down:before           { content: "\f063"; }
.icon-share-alt:before            { content: "\f064"; }
.icon-resize-full:before          { content: "\f065"; }
.icon-resize-small:before         { content: "\f066"; }
.icon-plus:before                 { content: "\f067"; }
.icon-minus:before                { content: "\f068"; }
.icon-asterisk:before             { content: "\f069"; }
.icon-exclamation-sign:before     { content: "\f06a"; }
.icon-gift:before                 { content: "\f06b"; }
.icon-leaf:before                 { content: "\f06c"; }
.icon-fire:before                 { content: "\f06d"; }
.icon-eye-open:before             { content: "\f06e"; }

.icon-eye-close:before            { content: "\f070"; }
.icon-warning-sign:before         { content: "\f071"; }
.icon-plane:before                { content: "\f072"; }
.icon-calendar:before             { content: "\f073"; }
.icon-random:before               { content: "\f074"; }
.icon-comment:before              { content: "\f075"; }
.icon-magnet:before               { content: "\f076"; }
.icon-chevron-up:before           { content: "\f077"; }
.icon-chevron-down:before         { content: "\f078"; }
.icon-retweet:before              { content: "\f079"; }
.icon-shopping-cart:before        { content: "\f07a"; }
.icon-folder-close:before         { content: "\f07b"; }
.icon-folder-open:before          { content: "\f07c"; }
.icon-resize-vertical:before      { content: "\f07d"; }
.icon-resize-horizontal:before    { content: "\f07e"; }

.icon-bar-chart:before            { content: "\f080"; }
.icon-twitter-sign:before         { content: "\f081"; }
.icon-facebook-sign:before        { content: "\f082"; }
.icon-camera-retro:before         { content: "\f083"; }
.icon-key:before                  { content: "\f084"; }
.icon-cogs:before                 { content: "\f085"; }
.icon-comments:before             { content: "\f086"; }
.icon-thumbs-up:before            { content: "\f087"; }
.icon-thumbs-down:before          { content: "\f088"; }
.icon-star-half:before            { content: "\f089"; }
.icon-heart-empty:before          { content: "\f08a"; }
.icon-signout:before              { content: "\f08b"; }
.icon-linkedin-sign:before        { content: "\f08c"; }
.icon-pushpin:before              { content: "\f08d"; }
.icon-external-link:before        { content: "\f08e"; }

.icon-signin:before               { content: "\f090"; }
.icon-trophy:before               { content: "\f091"; }
.icon-github-sign:before          { content: "\f092"; }
.icon-upload-alt:before           { content: "\f093"; }
.icon-lemon:before                { content: "\f094"; }
.icon-phone:before                { content: "\f095"; }
.icon-check-empty:before          { content: "\f096"; }
.icon-bookmark-empty:before       { content: "\f097"; }
.icon-phone-sign:before           { content: "\f098"; }
.icon-twitter:before              { content: "\f099"; }
.icon-facebook:before             { content: "\f09a"; }
.icon-github:before               { content: "\f09b"; }
.icon-unlock:before               { content: "\f09c"; }
.icon-credit-card:before          { content: "\f09d"; }
.icon-rss:before                  { content: "\f09e"; }

.icon-hdd:before                  { content: "\f0a0"; }
.icon-bullhorn:before             { content: "\f0a1"; }
.icon-bell:before                 { content: "\f0a2"; }
.icon-certificate:before          { content: "\f0a3"; }
.icon-hand-right:before           { content: "\f0a4"; }
.icon-hand-left:before            { content: "\f0a5"; }
.icon-hand-up:before              { content: "\f0a6"; }
.icon-hand-down:before            { content: "\f0a7"; }
.icon-circle-arrow-left:before    { content: "\f0a8"; }
.icon-circle-arrow-right:before   { content: "\f0a9"; }
.icon-circle-arrow-up:before      { content: "\f0aa"; }
.icon-circle-arrow-down:before    { content: "\f0ab"; }
.icon-globe:before                { content: "\f0ac"; }
.icon-wrench:before               { content: "\f0ad"; }
.icon-tasks:before                { content: "\f0ae"; }

.icon-filter:before               { content: "\f0b0"; }
.icon-briefcase:before            { content: "\f0b1"; }
.icon-fullscreen:before           { content: "\f0b2"; }

.icon-group:before                { content: "\f0c0"; }
.icon-link:before                 { content: "\f0c1"; }
.icon-cloud:before                { content: "\f0c2"; }
.icon-beaker:before               { content: "\f0c3"; }
.icon-cut:before                  { content: "\f0c4"; }
.icon-copy:before                 { content: "\f0c5"; }
.icon-paper-clip:before           { content: "\f0c6"; }
.icon-save:before                 { content: "\f0c7"; }
.icon-sign-blank:before           { content: "\f0c8"; }
.icon-reorder:before              { content: "\f0c9"; }
.icon-list-ul:before              { content: "\f0ca"; }
.icon-list-ol:before              { content: "\f0cb"; }
.icon-strikethrough:before        { content: "\f0cc"; }
.icon-underline:before            { content: "\f0cd"; }
.icon-table:before                { content: "\f0ce"; }

.icon-magic:before                { content: "\f0d0"; }
.icon-truck:before                { content: "\f0d1"; }
.icon-pinterest:before            { content: "\f0d2"; }
.icon-pinterest-sign:before       { content: "\f0d3"; }
.icon-google-plus-sign:before     { content: "\f0d4"; }
.icon-google-plus:before          { content: "\f0d5"; }
.icon-money:before                { content: "\f0d6"; }
.icon-caret-down:before           { content: "\f0d7"; }
.icon-caret-up:before             { content: "\f0d8"; }
.icon-caret-left:before           { content: "\f0d9"; }
.icon-caret-right:before          { content: "\f0da"; }
.icon-columns:before              { content: "\f0db"; }
.icon-sort:before                 { content: "\f0dc"; }
.icon-sort-down:before            { content: "\f0dd"; }
.icon-sort-up:before              { content: "\f0de"; }

.icon-envelope-alt:before         { content: "\f0e0"; }
.icon-linkedin:before             { content: "\f0e1"; }
.icon-undo:before                 { content: "\f0e2"; }
.icon-legal:before                { content: "\f0e3"; }
.icon-dashboard:before            { content: "\f0e4"; }
.icon-comment-alt:before          { content: "\f0e5"; }
.icon-comments-alt:before         { content: "\f0e6"; }
.icon-bolt:before                 { content: "\f0e7"; }
.icon-sitemap:before              { content: "\f0e8"; }
.icon-umbrella:before             { content: "\f0e9"; }
.icon-paste:before                { content: "\f0ea"; }
.icon-lightbulb:before            { content: "\f0eb"; }
.icon-exchange:before             { content: "\f0ec"; }
.icon-cloud-download:before       { content: "\f0ed"; }
.icon-cloud-upload:before         { content: "\f0ee"; }

.icon-user-md:before              { content: "\f0f0"; }
.icon-stethoscope:before          { content: "\f0f1"; }
.icon-suitcase:before             { content: "\f0f2"; }
.icon-bell-alt:before             { content: "\f0f3"; }
.icon-coffee:before               { content: "\f0f4"; }
.icon-food:before                 { content: "\f0f5"; }
.icon-file-alt:before             { content: "\f0f6"; }
.icon-building:before             { content: "\f0f7"; }
.icon-hospital:before             { content: "\f0f8"; }
.icon-ambulance:before            { content: "\f0f9"; }
.icon-medkit:before               { content: "\f0fa"; }
.icon-fighter-jet:before          { content: "\f0fb"; }
.icon-beer:before                 { content: "\f0fc"; }
.icon-h-sign:before               { content: "\f0fd"; }
.icon-plus-sign-alt:before        { content: "\f0fe"; }

.icon-double-angle-left:before    { content: "\f100"; }
.icon-double-angle-right:before   { content: "\f101"; }
.icon-double-angle-up:before      { content: "\f102"; }
.icon-double-angle-down:before    { content: "\f103"; }
.icon-angle-left:before           { content: "\f104"; }
.icon-angle-right:before          { content: "\f105"; }
.icon-angle-up:before             { content: "\f106"; }
.icon-angle-down:before           { content: "\f107"; }
.icon-desktop:before              { content: "\f108"; }
.icon-laptop:before               { content: "\f109"; }
.icon-tablet:before               { content: "\f10a"; }
.icon-mobile-phone:before         { content: "\f10b"; }
.icon-circle-blank:before         { content: "\f10c"; }
.icon-quote-left:before           { content: "\f10d"; }
.icon-quote-right:before          { content: "\f10e"; }

.icon-spinner:before              { content: "\f110"; }
.icon-circle:before               { content: "\f111"; }
.icon-reply:before                { content: "\f112"; }
.icon-github-alt:before           { content: "\f113"; }
.icon-folder-close-alt:before     { content: "\f114"; }
.icon-folder-open-alt:before      { content: "\f115"; }
.the-icons li:hover {
    background-color: #FBF4F4;
}


/**
 * HTML Iframe style
 */
body.icon_selector{
	padding: 0;
	margin:0;
}
body.icon_selector ul {margin: 15px 10px}
body.icon_selector li{
	padding:5px 3px 5px 10px;
	cursor:pointer;
	width: 22%;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	display:inline-block;
	height: 42px;
	line-height: 42px;
	color: #555;
	vertical-align:middle
}
body.icon_selector li:hover{
	border-radius: 10px;
	background: #ddd;
	color: #111;
	vertical-align:middle
}
body.icon_selector li i{ font-size: 16px; width: 1.5em; background: none }
body.icon_selector li:hover i{ font-size: 24px; width: 1em; vertical-align:middle }

body.tabcreator {padding: 15px 20px}

.tabcreator #myTab {margin:0}

.tabcreator #frm_create{
	line-height: 30px;	
}
.tabcreator #txt_content{
	width:100%;
}
.tabcreator .tabcreator .nav{
	margin-bottom: 0;
}
.tabcreator #newtab{
	width: 100%;
}
.tabcreator #deletetab{
	display: none;
}
.tabcreator #fields{
	display: none;
}
.tabcreator #myTabContent{
	min-height: 20px;
	border: 1px solid #ddd;
	border-top: none;
	margin-bottom: 10px;
	padding:10px;
}
.tabcreator .alert,
.tabcreator #savetab{
	display: none;
}
.tabcreator #frm_create{
	margin-bottom: 10px;
}


.sc-map {margin: 1.5em 0}

