/*
Theme Name: Awesome App
Theme URI: http://awesomeapp.azyrusthemes.com/
Author: SenorThemes
Author URI: http://www.senorthemes.com
Description: Awesome App Wordpress Theme is a great one page theme to showcase your app or any other product or service you provide.
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: dark, light, white, black, gray, one-column, two-columns, left-sidebar, right-sidebar, fixed-width, flexible-width, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-image-header, featured-images, flexible-header, full-width-template, microformats, post-formats, rtl-language-support, sticky-post, theme-options, translation-ready
Text Domain: awesomeapp
*/

/* =Notes
--------------------------------------------------------------
This stylesheet uses rem values with a pixel fallback. The rem
values (and line heights) are calculated using two variables:

$rembase:     14;
$line-height: 24;

---------- Examples

* Use a pixel value with a rem fallback for font-size, padding, margins, etc.
	padding: 5px 0;
	padding: 0.357142857rem 0; (5 / $rembase)

* Set a font-size and then set a line-height based on the font-size
	font-size: 16px
	font-size: 1.142857143rem; (16 / $rembase)
	line-height: 1.5; ($line-height / 16)

---------- Vertical spacing

Vertical spacing between most elements should use 24px or 48px
to maintain vertical rhythm:

.my-new-div {
	margin: 24px 0;
	margin: 1.714285714rem 0; ( 24 / $rembase )
}

---------- Further reading

http://snook.ca/archives/html_and_css/font-size-with-rem
http://blog.typekit.com/2011/11/09/type-study-sizing-the-legible-letter/


/* =Reset
-------------------------------------------------------------- */

.wp-caption {
	max-width: 100%; /* Keep wide captions from overflowing their container. */
	padding: 4px;
}
.wp-caption .wp-caption-text,
.gallery-caption,
.entry-caption {
	font-style: italic;
	font-size: 12px;
	font-size: 0.857142857rem;
	line-height: 2;
	color: #757575;
}
article.sticky .featured-post {
	border-top: 4px double #ededed;
	border-bottom: 4px double #ededed;
	color: #757575;
	font-size: 13px;
	font-size: 0.928571429rem;
	line-height: 3.692307692;
	margin-bottom: 24px;
	margin-bottom: 1.714285714rem;
	text-align: center;
}
.comments-area li.bypostauthor cite span {
	position: absolute;
	margin-left: 5px;
	margin-left: 0.357142857rem;
	padding: 2px 5px;
	padding: 0.142857143rem 0.357142857rem;
	font-size: 10px;
	font-size: 0.714285714rem;
}
li.bypostauthor cite span {
	padding: 6px 10px;
	padding: 0.428571429rem 0.714285714rem;
	font-size: 11px;
	font-size: 0.785714286rem;
	line-height: 1.428571429;
	font-weight: normal;
	color: #7c7c7c;
	background-color: #e6e6e6;
	background-repeat: repeat-x;
	background-image: -moz-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -ms-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -webkit-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: -o-linear-gradient(top, #f4f4f4, #e6e6e6);
	background-image: linear-gradient(top, #f4f4f4, #e6e6e6);
	border: 1px solid #d2d2d2;
	border-radius: 3px;
	box-shadow: 0 1px 2px rgba(64, 64, 64, 0.1);
}
li.bypostauthor cite span {
	color: #fff;
	background-color: #21759b;
	background-image: none;
	border: 1px solid #1f6f93;
	border-radius: 2px;
	box-shadow: none;
	padding: 0;
}
/* Images */
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft {
	margin: 12px 24px 12px 0;
	margin: 0.857142857rem 1.714285714rem 0.857142857rem 0;
}
img.alignright {
	margin: 12px 0 12px 24px;
	margin: 0.857142857rem 0 0.857142857rem 1.714285714rem;
}
img.aligncenter {
	margin-top: 12px;
	margin-top: 0.857142857rem;
	margin-bottom: 12px;
	margin-bottom: 0.857142857rem;
}

.abs_heading_text-home {    margin-top: -490px;
    font-family: 'Source Sans Pro', sans-serif;
    text-align: center;
    font-size: 58px; 
    
}

.abs_heading_text-home h2 {font-size: .9em !important;}
.home-head {font-size: 38px; margin-top:15px;     font-family: 'Source Sans Pro', sans-serif;
}
.home-head span {font-weight:bold;     font-family: 'Source Sans Pro', sans-serif;
}
.home-tag {font-size:30px; margin-top:30px;     font-family: 'Source Sans Pro', sans-serif;
}

.cta {margin-left:44%; margin-top:420px; font-weight: bold;}
.cta-p1 {    font-family: 'Source Sans Pro', sans-serif; font-size:50px; margin-bottom: 40px;
padding:8px 15px; background-color:#333;line-height: 40px; background-color: rgba(0, 0, 0, 0.6);}

.cta-p2 {    font-family: 'Source Sans Pro', sans-serif; font-size:50px; margin-top:40px;
padding:8px 15px; background-color:#333;line-height: 40px;background-color: rgba(0, 0, 0, 0.6);}

ul#navigation li:nth-child(2),ul#navigation li:nth-child(3) ,ul#navigation li:nth-child(4) ,ul#navigation li:nth-child(5), ul#navigation li:nth-child(6) {display:none;}

ul#navigation li:nth-child(12) a {color:#fff;background-color:aqua; text-align: center; border-radius: 5px;margin-top:10px;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #4E7FDA;
    background-image: -moz-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5A91FA), to(#4E7FDA));
    background-image: -webkit-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: -o-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: linear-gradient(to bottom, #5A91FA, #4E7FDA);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5A91FA', endColorstr='#ff4E7FDA', GradientType=0);
    border-top: 1px solid #7ba7fb;
    box-shadow: 0 1px 0px 0px #333;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);padding:0px 30px;font-weight: normal; margin-left: 10px;text-shadow: 3px 1px 3px rgba(150, 150, 153, 1);}



ul#navigation li:nth-child(13) a {color:#fff;background-color: aqua;margin-left:10px; text-align: center; border-radius: 5px; margin-top:10px;text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #4E7FDA;
    background-image: -moz-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5A91FA), to(#4E7FDA));
    background-image: -webkit-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: -o-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: linear-gradient(to bottom, #5A91FA, #4E7FDA);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5A91FA', endColorstr='#ff4E7FDA', GradientType=0);
    border-top: 1px solid #7ba7fb;
    box-shadow: 0 1px 0px 0px #333;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);padding:0px 30px; font-weight: normal;text-shadow: 3px 1px 3px rgba(150, 150, 153, 1);}

.navbar-inverse .brand:focus, .navbar-inverse .nav > li > a:focus, .navbar .nav > li > a {
    text-shadow: none;
    padding: 12px 40px;
    font-weight: bold;
    font-size: 18px;
    color: #898989;
    line-height: 46px;
}

.hfeed #top-ten-test {display: none;}
.head-img {
    width: 100%;
    height: 200px;
    display: block;
    overflow: hidden;
}
.head-img img {max-resolution: 100%;}
.head-img h1 {
    position: absolute;
    color: #fff;
    margin: 75px 220px;
    font-size: 42px;
}
.head-img span {
    position: absolute;
    color: #fff;
    font-size: 26px;
    margin: 75px 820px;
    line-height: 26px;
    width: 500px;
}
.blog_post {margin-top: 0 !important}
.blog_post .wrapper_content {
    margin-top: 0rem !important;
    padding-top: 0rem !important;
}

.top10box {
    border: 1px #ccc solid;
    width: 100%;
    height: 300px;
}

a.learn10 {
    color: #fff;
    background-color: aqua;
    text-align: center;
    width: 100px;
    border-radius: 5px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #4E7FDA;
    background-image: -moz-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5A91FA), to(#4E7FDA));
    background-image: -webkit-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: -o-linear-gradient(top, #5A91FA, #4E7FDA);
    background-image: linear-gradient(to bottom, #5A91FA, #4E7FDA);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5A91FA', endColorstr='#ff4E7FDA', GradientType=0);
    border-top: 1px solid #7ba7fb;
    box-shadow: 0 1px 0px 0px #333;
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
    padding: 10px 10px;
    font-weight: normal;
    position: relative;
    /* margin-left: 70px; */
    /* margin-top: 60px; */
    margin: 50px auto;
    display: block;
    overflow: hidden;
    text-shadow: 3px 1px 3px rgba(150, 150, 153, 1);
}

@media (min-width: 1006px) and (max-width: 1200px)

   { 
    .cta-p1,  .cta-p2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;}
       
       ul#navigation li:nth-child(12) a, ul#navigation li:nth-child(13) a {padding: 0 10px;}
       ul#navigation li:nth-child(12) a {margin-left:0;}
}

@media (min-width: 600px) and (max-width: 1006px){
     .cta-p1,  .cta-p2 {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 40px;}
       
       ul#navigation li:nth-child(12) a, ul#navigation li:nth-child(13) a {padding: 0 10px;}
       ul#navigation li:nth-child(12) a {margin-left:0;}
.abs_heading_text-home {
    margin-top: -1190px;
    font-family: 'Source Sans Pro', sans-serif;
}
}

body {font-family: 'Muli', sans-serif;}
    .roi-calc {width:980px; margin: auto; position: relative; display:block; overflow:hidden;}
    .leftcc {width: 49.5%;
  position: relative;
  float: left;
  padding: 2px;}
    .rightcc {  width: 49.5%;
  position: relative;
  float: left;
  padding: 2px;}
    .instructions {width: 90%; margin: auto;display: block;margin-bottom: 50px;/* overflow: hidden; */}
	.instructions p {font-size: 14px;
  line-height: 21px;
  text-align: right;}
    input#calcGift {width:90%; margin-left:20px; height: 43px; background-color: #EEEEEE; border-style: solid; border-color: #ddd; border-width: thin; padding:3px; font-size:22px; color:#999;}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
     margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    background-color: #EEEEEE; border-style: solid; border-color: #ddd; border-width: thin;
}

input[type="checkbox"]:checked + label span {
    width:26px;
    height:26px;
    background:url(img/check-mark.fw.png) no-repeat;
    background-color: transparent; border-style: none; border-color: transparent; border-width: none;
}
 ul.theList {list-style: none; padding-left:0;}
ul.theList li {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    height: 80px;
    padding-left: 0;
        text-align: left;
}
 ul.cols {width:100%; list-style:none; 
display: inline;
overflow:hidden;padding-left:0;}
ul.cols li {
 border-bottom: 0 solid #fff; display:inline-block; margin-right:2px;}
 ul.cols li:nth-child(2) {width:100px; text-align: center; margin-left:10px;}
 ul.cols li:nth-child(3) {font-size: 12px; text-align: right; color:#414F28;margin-left: 10px;}
 ul.cols li:last-child {  text-align: right;
  float: right;
  margin-right: 30px;}
.logocc {/* margin-left:20px; */ /* margin-right: 30px; */ vertical-align: middle; /* max-width:60%; */width: 100px;height: 55px;}
 a.LearnMore {  width: 55px;
  height: 20px;
  background-color: #414F28;
  border-radius: 5px;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  padding: 6px 12px 2px;
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 14px;  text-align: center;}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
z-index:99999;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.dollar {font-size:30px; color: #777;}
.buttons {text-align: right; padding:0 !important;}


.bebold {font-weight: bold !important; color:red !important; font-size:21px; padding:6px; border-radius:25px; border-style: solid;
    border-color: #fff; 
-webkit-animation-name: demo;
-moz-animation-name: demo;
    -webkit-animation-duration: 1.5s;
-moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
-moz-animation-iteration: 1.5s;
    -webkit-animation-timing-function:
-moz-animation-timing-function:
 }

input#donate {background:url('http://www.roiministry.org/wp-content/plugins/eroi-calc/img/ncf-donate-now-button2.png');
background-repeat: no-repeat;
width:148px;
    height: 48px;
    border: 0;
cursor: pointer;
vertical-align: top;
}

@media (min-width: 300px) and (max-width: 574px){

    body {font-family: 'Muli', sans-serif;}
    .roi-calc {width:980px; margin: auto; position: relative; display:block; overflow:hidden;}
    .leftcc {width: auto;
  position: relative;
  float: none;
  padding: 2px;}
    .rightcc {  width: auto;
  position: relative;
  float: none;
  padding: 2px;}
    .instructions {width: 90%; margin: auto;display: block;margin-bottom: 50px;/* overflow: hidden; */}
	.instructions p {font-size: 14px;
  line-height: 21px;
  text-align: right;}
    input#calcGift {width:90%; margin-left:20px; height: 43px; /* margin-top: -1200px; */background-color: #EEEEEE; border-style: solid; border-color: #ddd; border-width: thin; padding:3px; font-size:22px; color:#999;}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
     margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(img/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    background-color: #EEEEEE; border-style: solid; border-color: #ddd; border-width: thin;
}

input[type="checkbox"]:checked + label span {
    width:26px;
    height:26px;
    background:url(img/check-mark.fw.png) no-repeat;
    background-color: transparent; border-style: none; border-color: transparent; border-width: none;
}
 ul.theList {list-style: none; padding-left:0;}
ul.theList li {
    padding-top: 15px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ccc;
    list-style: none;
    height: 80px;
    padding-left: 0;
        text-align: left;
}

 ul.cols {width:100%; list-style:none; 
display: inline;
overflow:hidden;padding-left:0;}
ul.cols li {
 border-bottom: 0 solid #fff; display:inline-block; margin-right:2px;}
 ul.cols li:nth-child(2) {width:100px; text-align: center; margin-left:10px;}
 ul.cols li:nth-child(3) {font-size: 12px; text-align: right; color:#414F28;margin-left: 10px;}
 ul.cols li:last-child {  text-align: right;
  float: right;
  margin-right: 30px;}
.logocc {/* margin-left:20px; */ /* margin-right: 30px; */ vertical-align: middle; /* max-width:60%; */width: 100px;height: 55px;}
 a.LearnMore {  width: 55px;
  height: 20px;
  background-color: #414F28;
  border-radius: 5px;
  font-size: 10px;
  color: #FFF;
  text-decoration: none;
  padding: 6px 12px 2px;
  position: relative;
  display: block;
  overflow: hidden;
  margin-top: 14px;  text-align: center;}

.modalDialog {
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: -1;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}

.modalDialog:target {
    opacity:1;
    pointer-events: auto;
z-index:99999;
}

.modalDialog > div {
    width: 400px;
    position: relative;
    margin: 10% auto;
    padding: 5px 20px 13px 20px;
    border-radius: 10px;
    background: #fff;
    background: #fff;
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    -moz-box-shadow: 1px 1px 3px #000;
    -webkit-box-shadow: 1px 1px 3px #000;
    box-shadow: 1px 1px 3px #000;
}

.close:hover { background: #00d9ff; }

.dollar {font-size:30px; margin-top: -100px;color: #777;}
.buttons {text-align: right; padding:0 !important;}


.bebold {font-weight: bold !important; color:red !important; font-size: 12px; padding:6px; border-radius:25px; border-style: solid;
    border-color: #fff; 
-webkit-animation-name: demo;
-moz-animation-name: demo;
    -webkit-animation-duration: 1.5s;
-moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
-moz-animation-iteration: 1.5s;
    -webkit-animation-timing-function:
-moz-animation-timing-function:
 }

input#donate {background:url('http://www.roiministry.org/wp-content/plugins/eroi-calc/img/ncf-donate-now-button2.png');
background-repeat: no-repeat;
width:148px;
    height: 48px;
    border: 0;
cursor: pointer;
vertical-align: top;
}
}

#eroi-calculator {
    width:100%;
background-image: url('http://changeanation.com/roi/wp-content/uploads/2015/08/wheat.jpg');
        background-attachment: fixed;
    background-size: cover;
    background-position: 50% 0px;
    margin-top: 0;
}

#eroi-calculator .entry-content.heading_1 h2 {
    overflow: hidden;
    margin: 0 auto;
    max-width: 1000px;
    padding: 0;
    font-size: 3.2em;
    font-family: inherit;
    font-weight: bold;
    color: #000;
}

#eroi-calculator .entry-content.heading_1 h4 {
    overflow: hidden;
    margin: auto;
    max-width: 1000px;
    padding: 20px;
    font-size: 1.6em;
    color: #999;
}

.leftcc ol {    text-align: left;}