/*
LAYOUT: Three-Column (Right)
DESCRIPTION: Three-column 950px fixed layout with two sidebars right of content
*/

body {
    min-width:960px;
}
#header {
    position:relative;
}
#main {
    width:960px;
    margin:0 auto;
    overflow:hidden;
    position:relative;
}
#container {
    width:510px;
    float:left;
    margin:0;
}
#content {
    overflow:hidden;
}
#primary {
    width:220px;
    float:right;
    margin:0 0 0 10px;
}
#secondary {
    width: 220px;
    float:right;
    margin:0;
}
#footer {    
    clear:both;
}
#subsidiary {
    width:960px;
    margin:0 auto;
    overflow:hidden;
}
#subsidiary .aside {
    width:300px;
    float:left;
    margin:0 10px 0 10px;
}
#subsidiary #third {
    margin:0 0 0 10px;
}
.fixed {
	width:960px; 
	margin:0 auto;
}
