.wp-polls ul li, wp-polls-ul li, .wp-polls-ans ul li {
	text-align: left;
	background-image: none;
	display: block;
}
.wp-polls ul, .wp-polls-ul, .wp-polls-ans ul  {
	text-align: left;
	list-style: none;
}
.wp-polls ul li:before, wp-polls-ul li, .wp-polls-ans ul li:before, #sidebar ul ul li:before {
	content: '';
}
.wp-polls IMG, .wp-polls LABEL , .wp-polls INPUT, .wp-polls-loading IMG, .wp-polls-image IMG {
	display: inline;
	border: 0px;
	padding: 0px;
	margin: 0px;
}
.wp-polls-ul {
	padding: 0px;
	margin: 0px 0px 10px 10px;
}
.wp-polls-ans {
	width:100%;
	opacity: 1;
}
.wp-polls-loading {
	display: none;
	text-align: center;
	height: 16px;
	line-height: 16px;
}
.wp-polls-image {
	border: 0px;
}
.wp-polls .Buttons {
	border:1px solid #c8c8c8;
	background-color: #f3f6f8;
}
/* Polls Archive Paging */
.wp-polls-paging a, .wp-polls-paging a:link {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp-polls-paging a:visited {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp-polls-paging a:hover {	
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
}
.wp-polls-paging a:active {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	text-decoration: none;
	border: 1px solid #0066cc;
	color: #0066cc;
	background-color: #FFFFFF;	
}
.wp-polls-paging span.pages {
	padding: 2px 4px 2px 4px; 
	margin: 2px 2px 2px 2px;
	color: #000000;
	border: 1px solid #000000;
	background-color: #FFFFFF;
}
.wp-polls-paging span.current {
	padding: 2px 4px 2px 4px; 
	margin: 2px;
	font-weight: bold;
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
}
.wp-polls-paging span.extend {
	padding: 2px 4px 2px 4px; 
	margin: 2px;	
	border: 1px solid #000000;
	color: #000000;
	background-color: #FFFFFF;
}
/* Styles Used In WP-Admin */
#wp-polls-pollbar-bg {
	width: 25px;
	height: 25px;
	border: 1px solid #000000;
}
#wp-polls-pollbar-border {
	width: 25px;
	height: 25px;
	border: 1px solid #000000;
}

/* polls START */
.wp-polls {
	background:#E3E4E6 url(img/postbox.gif) 0 0 no-repeat;
	padding:6px 12px 0;
	margin-bottom:10px;
}
.post .content .wp-polls p, 
.post .content .wp-polls ul {
	margin:0;
}
.post .content .wp-polls li {
	border-bottom:1px solid #E3E4E6;
	line-height:18px;
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	padding:5px;
}
.wp-polls .wp-polls-ans {
	background:#F4F5F7 url(img/postbox.gif) 100% 100% no-repeat;
	border-top:1px solid #CCC;
	padding:8px 12px;
	margin:6px -12px 0;
}
/* polls START */
