#header{background:transparent url('images/single-page-template/content_top.png') no-repeat;}
#content{background: #FFF;width:769px;}
#content-body{width:763px;}
#footer{background:transparent url('images/single-page-template/content_bottom.png') no-repeat;}
.hentry{width:763px;overflow:hidden;}