th.ccalc_titlecell {border:1px solid black;}

.tr_odd{ background-color: #CCCCCC;}

td{padding: 30px;  }

td.large_font{min-width: 30px; font-weight: bold; font-size: 15px;}

td {
    text-align: center;
    vertical-align: middle;  
}

  body {font-family: 'Muli', sans-serif;}
    .roi-calc {width:980px; margin: auto; position: relative; display:block; overflow:hidden;}
    .left {width:35%; position: relative; float:left; padding:5px;}
    .right {width:60%; position: relative; float:left; padding:10px;}
    .instructions {width:60%; margin: auto;}
    input#calcGift {width:98%; width: 98%; height: 43px; background-color: #EEEEEE; border-style: solid; border-color: #ddd; border-width: thin; padding:3px; font-size:22px; color:#999;}

input[type="checkbox"] {
    display:none;
}
input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
     margin:-1px 4px 0 0;
    vertical-align:middle;
    background:url(./check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
    background-color: #EEEEEE; border-style: solid; border-color: #ddd; border-width: thin;
}

input[type="checkbox"]:checked + label span {
	width:26px;
	height:26px;
    background:url(img/check-mark.fw.png) no-repeat;
    background-color: transparent; border-style: none; border-color: transparent; border-width: none;
}
 ul.theList {list-style: none; padding-left:0;}
 ul.theList li {padding-top:20px; padding-bottom: 20px; border-bottom:1px solid #ccc; }

 ul.cols {width:100%; list-style:none; 
display: inline;
overflow:hidden;padding-left:0;}
ul.cols li {
 border-bottom: 0 solid #fff; display:inline-block; margin-right:50px;}
 ul.cols li:nth-child(2) {width:200px; text-align: center;}
 ul.cols li:last-child {text-align: right;
width: 130px;}
.logo {margin-left:20px; margin-right: 20px; vertical-align: middle;}
 a.LearnMore {width: 78px; height: 26px; background-color: #414F28; border-radius: 5px; font-size: 10px; color:#ffffff; text-decoration: none; padding:6px 12px;}